<div
  class="flex-container flex-container--row 
  flex-container--ax-between flex-container--ay-center"
>
  <div class="flex-container__item">
    <p class="subtitle">Bienvenido</p>
  </div>
  <div class="flex-container__item">
    <div class="form">
      <div class="form__control form__control--inline">
        <div
          class="flex-container flex-container--row flex-container--sy-none flex-container--sx-condensed"
        >
          <div class="flex-container__item">
            <input
              type="text"
              placeholder="Busca por nombre de pokémon"
              class="form__control__input"
            />
          </div>
          <div class="flex-container__item">
            <button class="btn btn--primary btn--translucid">
              <fa-icon icon="search"></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
