<div class="sidebar">
  <div class="sidebar__logo">
    <h6>PokeArena</h6>
  </div>
  <nav class="sidebar__content">
    <a href="" class="sidebar__content__link">
      <span class="sidebar__content__link__icon">
        <fa-icon icon="search" size="lg"></fa-icon>
      </span>
      <span class="sidebar__content__link__text">
        Buscar Pokémon
      </span>
    </a>
    <a href="" class="sidebar__content__link">
      <span class="sidebar__content__link__icon">
        <fa-icon icon="gamepad" size="lg"></fa-icon>
      </span>
      <span class="sidebar__content__link__text">
        Arena Pókemon
      </span>
    </a>
  </nav>
</div>
