<div class="grid-layout grid-layout--main grid-layout--main-sidebar">
  <div class="grid-layout__sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="grid-layout__navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="grid-layout__content">
    <div class="flex-container flex-container--row flex-container--grid">
      <div class="flex-container__item --col-xs-12 --col-sm-6 --col-lg-4">
        <div class="card">
          <div class="card__header">
            <h6>Card 1</h6>
          </div>
          <div class="card__body">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
              suscipit inventore, velit praesentium distinctio natus, magni
              veniam quam necessitatibus harum ut aperiam adipisci reprehenderit
              mollitia quis, quo quod eveniet ullam.
            </p>
          </div>
        </div>
      </div>
      <div class="flex-container__item --col-xs-12">
        <!-- <div class="card">
          <div class="card__header">
            <h6>Input test</h6>
          </div>
          <div class="card__body">
            <p class="s1">Form title</p>
            <form class="form">
              <div class="flex-container flex-container--grid">
                <div class="flex-container__item --col-12">
                  <div class="form__control">
                    <label for="" class="form__control__label">form label</label
                    ><input type="text" class="form__control__input" />
                  </div>
                </div>
                <div class="flex-container__item --col-12">
                  <div class="form__control form__control--inline">
                    <label for="" class="form__control__label"
                      >inline label</label
                    >
                    <input type="text" class="form__control__input" />
                  </div>
                </div>
                <div class="flex-container__item --col-12">
                  <div class="form__control form__control--inline">
                    <label class="form__control__label">
                      Multiple selection options
                    </label>
                    <label
                      class="form__control__label-checkbox"
                      for="subscribeNews"
                    >
                      <input
                        type="checkbox"
                        name="subscribe"
                        value="newsletter"
                      />
                      <span class="form__control__checkbox"> </span>
                      option a
                    </label>
                    <label
                      class="form__control__label-checkbox"
                      for="subscribeNews"
                    >
                      <input
                        type="checkbox"
                        name="subscribe"
                        value="newsletter"
                      />
                      <span class="form__control__checkbox"> </span>
                      option b
                    </label>
                    <label
                      class="form__control__label-checkbox"
                      for="subscribeNews"
                    >
                      <input
                        type="checkbox"
                        name="subscribe"
                        value="newsletter"
                      />
                      <span class="form__control__checkbox"> </span>
                      option c
                    </label>
                  </div>
                </div>
                <div class="flex-container__item --col-12">
                  <div class="form__control">
                    <label for="" class="form__control__label">
                      Unique selection options
                    </label>
                    <label for="" class="form__control__label-radio">
                      <input
                        type="radio"
                        id="huey"
                        name="drone"
                        value="huey"
                        checked
                      />
                      <span class="form__control__radio"></span>
                      Huey
                    </label>
                    <label for="" class="form__control__label-radio">
                      <input
                        type="radio"
                        id="huey"
                        name="drone"
                        value="dewey"
                        checked
                      />
                      <span class="form__control__radio"></span>
                      Dewey
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="card__footer">
            <div
              class="flex-container flex-container--ax-end flex-container--row flex-container--sx-condensed flex-container--sy-none"
            >
              <div class="flex-container__item">
                <button class="btn btn--primary">submit</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
